.message-wrapper {
/*    margin: 0 0 .125rem 0;
    padding: .5rem .85rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;*/
    /*min-width: 0;*/
    /*max-width: 400px;*/
}

.message {
    background-color: rgba(206,206,206,0.50);
    margin: 0 0 .125rem 0;
    padding: .5rem .85rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    border-radius: 1.25rem;
    max-width: 70vw;
}

.loading {
    background-color: rgba(206,206,206,0.50);
    margin: 0 0 .125rem 0;
    padding: .5rem .85rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    border-radius: 1.25rem;
    width: 5vw;
    text-align: center;
}

.dot {
    display: inline-block;
    /*margin-top: 15px;*/
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #4b9cdb;
}

.loading .dot:nth-last-child(1) {
    animation: loading .6s .1s linear infinite;
}
.loading .dot:nth-last-child(2) {
    animation: loading .6s .2s linear infinite;
}
.loading .dot:nth-last-child(3) {
    animation: loading .6s .3s linear infinite;
}

@keyframes loading {
    0 {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -5px);
    }
    50% {
        transform: translate(0, 0px);
    }
    75% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0px);
    }
}